<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>To Do List</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h1 class="text-center fw-bolder py-4">My To-Do List</h1>

            <div class="row justify-content-center">
                <div class="col-md-7 list-group list-group-flush">

                    <!-- campo di input testuale -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add Task" aria-label="Recipient's username" aria-describedby="button-addon2" 
                            v-model="newElement.text" @keyup.enter="addNewTask">
                        <button class="btn btn-outline-secondary btn-add" type="button" id="button-addon2" @click = "addNewTask">
                            <img src="img/plus.svg" alt="">
                            Aggiungi
                        </button>
                    </div>

                    <!-- elementi to do list -->
                    <div class="list-group-item" v-for="(element, i) in toDoList">
                        <label for="" class="d-flex align-items-center justify-content-between">
                            <!-- checkbox -->
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"
                                v-model="element.done">

                            <!-- testo -->
                            <div class="flex-fill px-3"
                                :class="(element.done === true) ? 'text-decoration-line-through' : '' ">
                                {{element.text}}
                            </div>

                            <!-- button: cancella task-->
                            <button class="btn" @click="onBtnDelateClick(i)">
                                <img src="img/bookmark-x.svg" alt="">
                            </button>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>